<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="test/bootstrap.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false"
        syntaxCheck="false"
        verbose="true"
        >
    <php>
        <var name="DB_DSN" value="mysql:host=localhost;dbname=restcms"/>
        <var name="DB_USERNAME" value="test"/>
        <var name="DB_PASSWORD" value="test"/>
        <var name="DB_SCHEMA" value="restcms"/>
        <var name="HTTP_PROTOCOL" value="http" />
        <var name="HTTP_HOSTNAME" value="localhost" />
        <var name="HTTP_PORT" value="8080" />
        <var name="HTTP_CREATE" value="true" />
    </php>
    <testsuites>
        <testsuite name="http">
            <directory>./test/tests/http/</directory>
        </testsuite>
    </testsuites>
    <testsuites>
        <testsuite name="unit">
            <directory>./test/tests/unit/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="./report" charset="UTF-8" hightlight="true" />
    </logging>
</phpunit>
